<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/atf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/logs/atf.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="RootSiftAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>testname</Key>
            <DefaultValue>testrun</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testname}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>target/logs/${testname}/execution.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>target/logs/${testname}/execution.%i.log</FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>100</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg %n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="CukeOut" class="org.testmonkeys.cucumber1.appender.CucumberAppender">
        <filter class="org.testmonkeys.cucumber1.appender.CucumberAppenderFilter"/>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg %n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TIME_BASED_FILE"/>
        <appender-ref ref="RootSiftAppender"/>
        <appender-ref ref="CukeOut"/>
    </root>
</configuration>